{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["map"]});
      google.setOnLoadCallback(drawMap);
      function drawMap() {
        var data = google.visualization.arrayToDataTable([
          ['Lat', 'Lon', 'Name'],
          [{{ gas_station.lon }},{{ gas_station.lat }}, '{{ gas_station.name }} {{ gas_prices_js }}'],
        ]);

        var map = new google.visualization.Map(document.getElementById('map_div'));
        map.draw(data, {showTip: true});
      }
    </script>
{% endblock %}

{% block content %}
    <h1>{{ gas_station.name }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div id="map_div" style="width: 400px; height: 300px"></div>

    {% if gas_prices %}
        <ul>
        {% for gas_price in gas_prices %}
            <li>{{ gas_price.date|date:"D d M Y" }} - {{ gas_price.price }} Kč</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No gas prices are available.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>Update prices for this gas station. Help our community!</p>

        {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}

        <form action="{% url 'detail' gas_station.id %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>

    {% else %}
        <p>Login in order to update prices for this gas station. Help our community!</p>
    {% endif %}
{% endblock %}